{% extends 'main.html' %}

{% block content %}
<main class="auth layout">

  {% if page == 'login' %}
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Connexion</h3>
        </div>
      </div>
      <div class="layout__body">
        <!-- <h2 class="auth__tagline">Hello World</h2> -->

        <form class="form" action="" method="POST">
          {% csrf_token %}
          <div class="form__group form__group">
            <label for="room_name">Email</label>
            <input id="username" name="email" type="email" placeholder="johndoe@email.com" />
          </div>
          <div class=" form__group">
            <label for="password">Mot de passe</label>
            <input id="password" name="password" type="password"
              placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
          </div>

          <button class="btn btn--main" type="submit">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>lock</title>
              <path
                d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z">
              </path>
              <path
                d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z">
              </path>
            </svg>

            Connexion
          </button>
        </form>

        <div class="auth__action">
          <p>Vous n'êtes pas encore inscrit ?</p>
          <a href="{% url 'register' %}" class="btn btn--link">S'inscrire</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container">
    <div class="layout__box box__register">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Inscription</h3>
        </div>
      </div>
      <div class="layout__body">

        <form class="form" action="" method="POST">
          {% csrf_token %}
          {{ form.errors }}
          {% for field in form %}
          <div class="form__group form__group">
            {{ form.non_field_errors }}
            <label for="room_name">{{field.label}}</label>
            {{field}}
          </div>
          {% endfor %}


          <button class="btn btn--main" type="submit">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>lock</title>
              <path
                d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z">
              </path>
              <path
                d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z">
              </path>
            </svg>

            S'enregistrer
          </button>
        </form>

        <div class="auth__action">
          <p>Vous êtes déjà inscrit ?</p>
          <a href="{% url 'login' %}" class="btn btn--link">Connexion</a>
        </div>
      </div>
    </div>
    <div class="action__bottom">
    </div>
  </div>
  {% endif %}
</main>
{% endblock content %}
